.cart {
    padding: 20px;
  }
  
  .cart__item {
    display: flex;
    margin-bottom: 20px;
  }
  
  .cart__image {
    width: 180px;
    object-fit: contain;
  }
  
  .cart__details {
    padding-left: 20px;
  }
  
  .cart__details button {
    background-color: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    cursor: pointer;
  }
  